.App {
  text-align: center;
  background-color: #F5F5F5;
  font-family:'Alice';
}

.App-logo {
  position: absolute;
  width: 799px;
  height: 354px;
  left: 541px;
  top: 0px;
}

.List-container {
  background: #FAFAFA;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  width: 968px;
  height: 759px;
  left: 249px;
  top: 389px;
}
